{% extends 'main.html' %}
{% block  main %}

    <!-- Main Content -->
    <div class="col-md-9 py-4">
        <h2>Forgot Password</h2>
        <div class="card p-4">
            <p class="card-text mb-4">Enter your mobile number to receive a verification code to reset your
                password.</p>
            <form action="{% url 'accounts:forgot_password' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mb-3">
                    <input type="submit" class="btn btn-outline-dark w-100" value="Send Verification Code">
                </div>
            </form>
            <p class="text-center mt-3 small">Remembered your password? <a href="{% url 'accounts:login_mobile' %}">Login
                here</a></p>
        </div>
    </div>

{% endblock %}