{% extends 'main.html' %}

{% block main %}

    <!-- Main Content -->
    <div class="col-md-9 py-4">
        <h2>All Categories</h2>

        <div class="row">
            {% for category in categories %}
                <div class="col-md-4 mb-3">
                    <a href="{% url 'posts:single_category' category.slug %}" class="card text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.title }}</h5>
                            <p class="card-text">Explore the latest in tech innovations and updates.</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>


    </div>

{% endblock %}