

{% extends 'main.html' %}

{% block main %}
    <!-- Main Content -->
    <div class="col-md-9 py-4">
        <h2>Edit Profile</h2>
        <div class="card p-4">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="d-flex gap-2">
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                    <a href="{% url 'accounts:profile' request.user.username %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}