{% extends 'main.html' %}

{% block login %}
    <div class="container">
        <div class="row justify-content-center">
            <!-- Login Form Column -->
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Welcome Back</h2>
                        <form method="post" action="{% url 'accounts:login' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid gap-2">
                                <input class="btn btn-primary" type="submit" value="Login"/>

                            </div>
                        </form>
                        <p class="text-center mt-3">
                            Don't have an account? <a href="{% url 'accounts:register' %}" class="text-decoration-none">Register
                            here</a>
                        </p>
                        <p class="text-center">
                            <a href="#" class="text-decoration-none text-muted">Forgot password?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}