{% extends 'main.html' %}
{% load static %}
<div class="container-fluid mt-4">
    <div class="row">

        {% block main %}

            <div class="col-md-6 py-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2>My Posts</h2>
                    <hr>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'posts:post-create' %}" class="btn btn-primary">Create New Post</a>
                    {% endif %}
                </div>

                <div class="post-list">
                    {% for post in user_post %}
                        {% if post.is_published %}
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ post.featured_image.url }}" class="img-fluid rounded-start"
                                             alt="Post 1">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ post.title }}</h5>
                                            <p class="card-text">{{ post.content|truncatewords:50 |safe }}</p>
                                            <p class="card-text"><small class="text-muted">Category: <a
                                                    href="{{ post.categories.get_absolute_url }}">{{ post.categories }}</a></small>
                                            </p>
                                            <p class="card-text"><small
                                                    class="text-muted">{{ post.created_at|timesince }}
                                                ago</small></p>
                                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm">Read
                                                More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% empty %}
                        <div class="col-md-4">
                            <h5 class="m-5">There is no post yet !</h5>
                        </div>

                    {% endfor %}

                </div>
            </div>

            <!-- Right Sidebar (User Profile) -->
            <div class="col-md-3 user-info-sidebar">
                <h5>User Profile</h5>

                <div class="text-center">
                    {% if user_information.user_profile_image %}
                        <img src="{{ user_information.user_profile_image.url }}" class="rounded-circle mb-3"
                             alt="Profile Picture">
                    {% else %}
                        <img src="{% static 'profile/default-profile.png' %}" class="rounded-circle mb-3"
                             alt="Profile Picture">
                    {% endif %}
                    <h6>{{ user_information.full_name }}</h6>
                    <p class="small"><strong>Email:</strong> {{ user_information.email }}</p>
                    <p class="small"><strong>Last Login:</strong> {{ user_information.last_login|timesince }}</p>
                    <p class="small"><strong>Posts:</strong> {{ user_post|length }}</p>
                    <p class="small text-danger"><strong>Unpublished:</strong> {{ unpublished_posts|length }}</p>


                    {% if user_information.bio %}
                        <p class="small"><strong>Bio:</strong> {{ user_information.bio }}</p>
                    {% else %}
                        <p class="small"><strong>Bio:</strong> tell us about yourself ...</p>
                    {% endif %}
                    {% if request.user.is_authenticated and user_information.id == request.user.id %}
                        <a href="{% url 'accounts:edit_profile' username %}">
                            <button class="btn btn-primary mt-2">Edit Profile</button>
                        </a>

                    {% endif %}
                </div>


            </div>
            </div>
        {% endblock %}
</div>
