{% extends 'main.html' %}
{% load static %}

{% block profile %}

    <div class="profile-container">
        <!-- Left: User Info -->

        <div class="card mb-4">
            <div class="card-header">{{ user.full_name |capfirst }}</div>
            <div class="card-body">
                <div class="row categories-list">
                    <div class="col-sm-12">
                        <div class="user-info">
                            <a class="profile-picture-section">
                                <img src="{% static 'images/profile/3135715.png' %}" alt="Profile Picture"
                                     class="profile-picture ">
                            </a>
                            <br><br>
                            <label class="">Full Name :</label> {{ user.full_name }}<br><br>
                            <label>Username:</label> {{ user.username }}<br><br>
                            <label>Phone:</label> {{ user.phone_number }}<br><br>
                            <label>Email:</label> {{ user.email }}<br><br>
                            <a href="/accounts/profile/edit/">Edit Profile</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Center: User Posts -->

        <div class="posts-section ">
            <a href="">
                <button class="mb-4 btn btn-success text-bold">create a post</button>
            </a>
            {% for post in user_post %}
                <div class="post ">

                    <div>
                        <h2>{{ post.title }}</h2>

                        <p>{{ post.content|truncatewords:300 }}</p>
                        {#                        TODO:like the category#}
                        <p>
                        <p>category: <a href="">{{ post.categories }}</a></p>
                        <a href="{{ post.get_absolute_url }}">
                            <button class="btn btn-info">read more</button>
                        </a>
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}