{% extends 'main.html' %}
{% block title %}
    404 - Page Not Found - My Weblog
{% endblock %}


{% block main %}
    <!-- Main Content -->
    <div class="col-md-9 py-4">
        <div class="card p-4 text-center">
            <h1 class="display-1 text-danger">404</h1>
            <h2 class="mb-3">Page Not Found</h2>
            <p class="card-text mb-4">
                Oops! It looks like the page you're looking for doesn't exist or has been moved. Don’t worry, let’s get
                you back on track!
            </p>
            <div class="d-flex justify-content-center gap-3">
                <a href="{% url 'home:home' %}" class="btn btn-primary">Go to Home</a>
                <a href="{% url 'contact:contact' %}" class="btn btn-outline-secondary">Contact Us</a>
            </div>
        </div>
    </div>

{% endblock %}