{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon-16x16.png' %}">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<!-- Navbar -->
{% include 'include/navbar.html' %}
{% include 'include/messages.html' %}

<div class="container-fluid mt-4">
    <div class="row">
        <!-- Sidebar -->

            <!-- Sidebar -->
            <div class="col-md-3 sidebar">
                <div class="mb-4">
                    <input type="text" class="form-control search-bar" placeholder="Search...">
                </div>
                <div class="mb-4">
                    <h5 class="d-flex justify-content-between">
                        <span>Categories</span>
                        <a href="{% url 'posts:post-category-lists' %}"> <span class="text-white">Show All</span></a>
                    </h5>

                    {% for category in categories %}
                        <ul class="list-group category-list">
                            <li class="list-group-item"><a href="{% url 'posts:single_category' category.slug %}"
                                                           class="text-decoration-none text-white">{{ category.title }}</a>
                            </li>

                        </ul>
                    {% endfor %}


                </div>
                <div>
                    <h5>About</h5>
                    <p class="small">Welcome to my weblog where we share the latest news and updates with a modern
                        twist.</p>
                </div>
            </div>


        <!-- Main Content -->
        {% block main %}

        {% endblock %}
    </div>
</div>


</body>
</html>