{% extends 'main.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block main %}


    <div class="col-md-7 py-4">

        <!-- Main Content (Create Post Form) -->

        <h2>Create New Post</h2>
        <div class="card p-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input type="submit" value="publish post" class="btn btn-primary">
            </form>
        </div>
    </div>

{% endblock %}