{% extends 'main.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}

<!-- Main Content (Update Post Form) -->
{% block main %}
    <div class="col-md-9 py-4">
        <h2>Update Post</h2>
        <div class="card p-4">
            <form action="" method="post" class="form-control">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" class="btn btn-success" value="update">
            </form>
        </div>


    </div>





{% endblock %}
